:root{
    --gray:#F2F2F2;
    --dark:#34495e;
    --darklow:#1f2b37;
    --light:#fff;
    --red:darkred;
    --green:lightgreen;
    --darkgray:rgb(159, 159, 159);
}

:focus{
    outline: none;
}

*{
    list-style-type: none;
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--gray);
}

.container{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}

.header-mini{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header-mini ul li a{
    color:var(--dark);
}

.header-mini ul li{
    display: inline-block;
    font-size: 13px;
    margin:0 5px;
}

header{
    background-color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding:0 10px;
}

header > img{
    margin-top: -12px;
}

.header-right-side{
    display: flex;
}

.header-right-side .basket{
    margin-left: 10px;
}

.search-box{
    height: 50px;
    min-width: 350px;
    width: 100%;
    margin:0 20px;
    box-sizing: border-box;
    border: 1px solid var(--gray);
    display: flex;
    max-width: 400px;
}

.search-box input{
    width: 100%;
    border: 0;
    padding:10px;
}

.search-button{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--light);
    background-color: var(--red);
}

.button{
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color:var(--light);
    background-color: var(--red);
    padding:5px 20px;
    box-sizing: border-box;
    border: none;
}

.input{
    width: 100%;
    max-width: 350px;
    display: block;
    border: 0;
    padding:10px;
    margin:10px 0;
    box-sizing: border-box;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 0;
}

.form h3{
    font-size: 23px;
    font-weight: normal;
}

.form a{
    min-width: 350px;
    text-align: left;
    font-size: 13px;
    color:var(--dark);
}


.form a:hover{
    text-decoration: underline;
}

.login{
    height: 50px;
    /* width: 100px; */
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--light);
    font-size: 15px;
    box-sizing: border-box;
}

.login:nth-child(1){
    padding-left:10px;
}

.login:nth-child(2){
    padding-right: 10px;
}

.login span{
    margin-left: 5px;
}


.basket{
    height: 50px;
    min-width: 100px;
    width: auto;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--light);
    font-size: 15px;
    box-sizing: border-box;
}

.basket span{
    margin-left: 5px;
    padding:2px 5px;
}

.basket .basket-count{
    background-color: var(--dark);
}

.filter-tabs .tabs-header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.filter-tabs-left-side.filter-sides{
    width: 100%;
}

.filter-tabs-left-side.filter-sides ul{
    display: flex;
}

.filter-tabs-left-side.filter-sides ul li:nth-child(1){
    margin-left: 20px;
}

.filter-tabs-left-side.filter-sides ul li:nth-child(3){
    margin-right: 20px;
}

.filter-tabs-left-side.filter-sides ul li:nth-child(2){
    margin:0 10px;
}

.filter-sides ul li{
    display: inline-block;
    background-color: var(--red);
    color:var(--light);
    padding:10px 20px;
    cursor:pointer;
    flex:1;
}

li.f-tab{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.filter-tabs-right-side ul{
    margin-top: -2px;
}

.filter-sides ul li.active{
    background-color: var(--dark);
}

.tabs-row .tab-item{
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding:20px 20px;
    color:var(--light);
    background-color: var(--dark);
    align-items: center;
}

.tabs-row .tab-item.active{
    display: flex;
}

.car-types{
    display: flex;
    justify-content: space-evenly;
    flex:0.38;
}


.filter-form{
    flex:0.7;
 }

.car-types > div{
    width: 70px;
    height: 66px;
    position: relative;
    /* margin-right: 20px; */
    overflow: hidden;
    cursor: pointer;
}

.select{
    padding:5px;
    min-width: 110px;
    width: 100%;
    height: 40px;
    position: relative;
    -webkit-appearance:none !important;
}

.select::-ms-expand {
    display: none;
}

.select-wrapper{
    position: relative;
    flex:1;
    margin-right: 10px;
}


.select-wrapper::after{
  content: '';
  display: inline-block;
  width: 20px;
  height:20px;
  background-image: url('../assets/svg/arrow-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  font: 23px "Consolas", monospace;
  color: red;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
} 



.car-types > div:hover > img:nth-child(2){
    left:0;
}

.car-types > div:hover > img:nth-child(1){
    left:100%;
}

.car-types > div img{
    transition: all 0.3s ease;
}

.car-types > div img:nth-child(1){
    position: absolute;
    left:0;
    top:0;
    width: 70px;
    height: auto;
}

.car-types > div img:nth-child(2){
    position: absolute;
    left:-100%;
    top:0;
    width: 70px;
    height: auto;
}

.filter-form form{
    display: flex;
    justify-content: space-between;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container .swiper-slide img {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.popular-section{
    position: relative;
}

.popular-section h3{
    margin:15px 52px;
    font-weight: 600;
    font-size: 25px;
}

.product{
    background-color: var(--light);
    height: 280px;
    display: flex !important;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid var(--dark);
    overflow: hidden;
    box-sizing: border-box;
}

.product .product-inner{
    flex:0.85;
    display: flex;
    padding:10px;
}

.product .product-inner > div:nth-child(1){
    flex:6.5;
}

.swiper-tire .product.slick-slide, .swiperaccessory .product.slick-slide, .swiper-other-products .product.slick-slide{
    margin:0 10px;
}

.swiper-disk .product.slick-slide, .swiperaccessory .product.slick-slide, .swiper-other-products .product.slick-slide{ 
    margin:0 10px; 
 }

 .sd{
     margin-top: 20px;
 }

 .sd .mobile-arrows{
     margin-bottom: 30px;
 }

.product .product-inner > div:nth-child(2){
    flex:3;
}

.slider-container{
    width: 93%;
    margin: 0 auto;
}

.product .product-inner .img-container{
    display: flex;
    align-items: center;
}


.product .product-inner .img-container img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.product .product-inner .product-filters{
    display: flex;
    /* justify-content: flex-end; */
    /* min-width: 190px; */
}

.product .product-name{
    flex-wrap: wrap;
    word-wrap: break-word;
    flex:0.15;
    background-color: var(--dark);
    padding:0 5px;
    color:var(--light);
    font-size: 14px;
    display: flex;
    align-items: center;
}

.swiperTire .swiper-wrapper .product, .swiperaccessory .swiper-wrapper .product{
    /* width: 32%; */
    min-width: 365px;
}

.filter-icon{
    width: 80px;
    height: 24px;
    border: 1px solid var(--gray);
    margin-top: 5px;
}

.filter-icon img{
    width: auto;
    height: 20px;
}

.filter-icon.season{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-icon.filter-icon-text span{
    font-size: 11px;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-icon.filter-icon-text{
    display: flex;
}

.filter-icon.filter-icon-text > div{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-icon.filter-icon-text > div > img{
    height: 24px;
}

.discount{
    margin-top: 10px;
    font-size:13px;
    color:var(--green);
    font-weight: bold;
}

.price{
    font-size: 18px;
    font-weight: 700;
    color: var(--red);
}

.full-price{
    font-size: 15px;
    font-weight: 600;
    color:var(--dark);
    text-decoration:line-through;
}

.brands h3, .blogs h3{
    margin:15px 43px;
    font-weight: 600;
    font-size: 25px;
}

.brands{
    margin-top: 20px;
}

.select{
    color:var(--darkgray);
}

.brand-list .slick-slide{
    background-color: var(--light);
    min-width: 137px;
    height: 50px;
    box-shadow: 2px 1px 4px 3px rgba(0,0,0,0.33);
-webkit-box-shadow: 2px 1px 4px 3px rgba(0,0,0,0.33);
-moz-box-shadow: 2px 1px 4px 3px rgba(0,0,0,0.53);
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    margin:0 14px;
    margin-top: 15px;
}

.brand-list .slick-track{
    margin-bottom: 12px;
}


.languages img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.blog-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;
}

.swiper-blog{
    padding:0 10px;
}

.blog-item{
    margin-bottom: 10px;
    display: inline-block;
    width: 282px;
    color:var(--dark);
    margin-left: 10px;
    margin-right: 10px;
}

.blog-item h2{
    font-size: 18px;
    font-weight: 600;
}

.blog-item p{
    font-size: 13px;
}

.homeslider{
    margin-top: 20px;
}


footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: var(--dark);
    padding:20px;
}

footer li a, footer h2{
    color: var(--light);
}

footer li .socials{
    margin-top: 20px;
}

footer li .socials a{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--light);
    color:var(--dark);
    margin-right: 20px;
}

.footer-mini{
    text-align: center;
    background-color: var(--darklow);
    color:var(--light);
    padding:5px;
}


.checkbox-container {
    display: block;
    position: relative;
    padding-left: 21px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--light);
}



/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: var(--light);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
background-color: var(--darklow);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 2px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.catalog-container{
    display: flex;
    margin-top:20px;
}

.catalog-filters{
    flex:0.25;
}

.filter-section{
    margin-bottom: 10px;
}

.filter-section .filter-section-header{
    padding:10px;
    background-color: var(--dark);
    color:var(--light);
    margin-right: 20px;
}

.filter-section .filter-section-content{
    padding:10px;
    max-height: 150px;
    overflow-y: auto;
    margin-right: 20px;
}

.filter-section .filter-section-content a{
    color:var(--dark);
    font-size: 13px;
}

.catalog-products{
    flex:0.75;
}

.catalog-header{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--light);
    font-size: 14px;
    box-sizing: border-box;
    padding:0 10px;
}


.catalog-header > div{
    margin-right: 20px;
}

.catalog-header select{
    outline: none;
    border:0;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}


.catalog-list .product{
    width: 49%;
    margin-bottom: 10px;
}

.catalog-list .product:nth-child(even){
    margin-left: 2%;
}

.pagination ul li{
    display: inline-block;
    margin-right: 5px;
    background-color: var(--dark);
}

.pagination ul li a{
    display: inline-block;
    font-size: 14px;
    color: var(--light);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
}

.product-detail-container{
    display: flex;
    margin-top: 20px;
}

.product-detail-container > div{
    border:1px solid var(--gray);
    background-color: var(--light);
    padding:20px;
}

.product-detail-container .product-slider-container{
    flex:0.4;
    max-width: 451px;
    margin-right: 20px;
}

.product-detail-container .produduct-details{
    flex:0.6;
}

.product-detail-container .produduct-details h1{
    font-size: 20px;
}

.keyval{
    display: flex;
}

.keyval .key{
    min-width: 150px;
}

.detail-divider{
    display: flex;
}

.detail-divider > div{
    flex:1;
}

.detail-divider > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.counter{
    height: 40px;
    display: flex;
}

.counter > div{
    border: 1px solid var(--gray);
    padding:5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.counter > input{
    max-width: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.add-button, .remove-btn{
    display: inline-block;
    height: 40px;
    background-color: var(--dark);
    color:var(--light);
    padding: 0 20px;
    font-weight: bold;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.remove-btn{
    background-color: var(--red);
}

.produduct-details .actions{
    margin-top: 20px;
    display: flex;
}

.product-banners{
    display: flex;
    justify-content: space-between;
    background-color: var(--light);
    border: 1px solid var(--gray);
    padding: 10px;
    margin-top: 20px;
    align-items: flex-start;
}

.product-banners > div{
    flex:1;
    display: flex;
    align-items: flex-start;
}

.product-banners > div > div{
    margin:0 10px;
}

.product-banners span{
    font-size: 13px;
}

.basket-container{
    display: flex;
    margin-top: 20px;
}

.basket-items{
    flex:0.75;
    margin-right: 20px;
    padding:20px;
    background-color: var(--light);
    border: 1px solid var(--gray);
}

.basket-detail{
    flex:0.25;
    padding:20px;
    background-color: var(--light);
    border: 1px solid var(--gray);
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-product{
    display: flex;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 10px;
}

.basket-product h2{
    font-size: 20px;
}

.basket-product img{
    max-width: 150px;
    height: auto;
}

.basket-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-single{
    padding:10px;
}

.blog-single .blog-content{
    font-size: 18px;
}


img.slick-slide{
    height: 350px;
    object-fit: cover;
}

.homeslider ul.slick-dots {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.homeslider ul.slick-dots li{
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-color: var(--light);
    border-radius: 50%;
    cursor: pointer;
}

.homeslider ul.slick-dots li.slick-active{
    background-color: var(--dark);
    cursor: unset;
}

.homeslider ul.slick-dots li button{
    font-size: 0 !important;
    display: none;
}

.slick-prev{
    left:-34px;
}

.slick-next{
    right:-26px;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px;
    color: var(--light);
    display: flex;
    background: var(--dark);
    width: 29px;
    height: 29px;
    border-radius: 50%;
    justify-content: center;
}

.productslider .slick-prev,
.productsliderthumb .slick-prev
{
    left:13px;
    z-index: 9;
}

.productslider .slick-prev:before, .productslider .slick-next:before
{
    color:var(--light)
}

.productslider .slick-next, .productsliderthumb .slick-next{
    right: 19px;
    z-index: 9;
}

.productsliderthumb .slick-slide{
    height: 100px;
    margin: 0 10px;
}

.blog-item img{
    width: 100%;
}

.search-box.mobile{
    display: none;
    min-width: unset;
}

.filter-toggler{
    margin-top: 10px;
    text-decoration: underline;
    display: none;
    margin-left: 10px;
}

.homeslider img{
    height: unset !important;
}

.popular-section .popular-section-header{
    display: flex;
    justify-content: space-between;
}

.mobile-arrows{
    position: relative;
    margin-right: 60px;
}

.mobile-arrows .slick-prev,.mobile-arrows .slick-next{
    display: none;
}

.customer-order-list{
    box-sizing: border-box;
    padding:10px;
    border: 1px solid var(--dark);
    margin:10px 0;
}

.orders-header{
    display: flex;
    border-bottom: 1px solid var(--dark);
}

.order-data{
    display: flex;
    margin:5px 0;
    border-bottom: 1px solid var(--dark);
}

.order-data > div > span{
    display: none;
}

.order-data > div, .orders-header > div{
    flex:1;
}

@media (max-width: 1160px){
    .slider-container{
        width: 92%;
    }
}

@media (max-width: 1050px){
    .product-detail-container{
        flex-direction: column;
    }
    .product-detail-container .product-slider-container{
        margin-right: unset;
        max-width: 100%;
    }
}


@media (max-width: 1030px){
    .slider-container{
        width: 90%;
    }
}


@media (max-width: 1000px){
    header > img{
        height: 40px;
        margin-top: unset;
    }
}


@media (max-width: 980px){
    .blog-item{
        width: 49%;
        box-sizing: border-box;
    }

    .car-types > div img:nth-child(1){
        position: absolute;
        left:0;
        top:0;
        width: 50px;
        height: auto;
    }
    
    .car-types > div img:nth-child(2){
        position: absolute;
        left:-100%;
        top:0;
        width: 50px;
        height: auto;
    }
    
    .car-types > div{
        height: 40px;
    }
}


@media (max-width: 955px){
    .blog-item{
        width: 49%;
        box-sizing: border-box;
    }
    .product-banners{
        flex-direction: column;
    }
    .basket-container{
        flex-direction: column;
    }
    .basket-items{
        margin-right: unset;
    }
}


@media (max-width: 925px){
   .select{
       min-width: unset;
   }
   .catalog-filters{
       flex:0.3;
   }
}


@media (max-width: 915px){
    .search-box{
        display: none;
    }
    .search-box.mobile{
        display: flex;
        max-width: unset;
        margin: unset;
    }
    footer > div > img{
        height: 30px;
    }
    .slider-container{
        width: unset;
    }
    .slick-prev,.slick-next{
        display: none !important;
    }
    .mobile-arrows .slick-prev,.mobile-arrows .slick-next{
        display: block !important;
    }
 }


 @media (max-width: 820px){
    .catalog-container{
        flex-direction: column;
        margin-right: unset;
    }
    .catalog-filters{
        display: none;
    }
    .filter-toggler{
        display: block;
    }
    .filter-section .filter-section-header, .filter-section .filter-section-content{
        margin-right: unset;
    }
    .catalog-products{
        box-sizing: border-box;
        padding:0 10px;
    }
 }


 @media (max-width: 745px){
    .tab-item{
        flex-direction: column;
    }
    .car-types{
        margin-bottom: 20px;
    }
    .select{
        min-width: 94px;
    }
    .select-wrapper{
        margin-right: unset;
    }
 }

 @media (max-width: 700px){
    footer{
        flex-direction: column;
        text-align: center;
    }
 }


 @media (max-width: 680px){
    li.f-tab{
        font-size: 11px;
    }
 }


 @media (max-width: 635px){
    .blog-list > a{
        display: none;
    }
    .blog-list > a:nth-child(1), .blog-list > a:nth-child(2){
        display: block;
    }
    .blog-list{
        justify-content: center;
    }
    .blog-item{
        width: 95%;
    }
    .popular-section h3, .blogs h3{
        margin:10px 10px
    }
    .detail-divider{
        flex-direction: column;
    }
    .detail-divider > div:nth-child(2){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .keyval .key{
        width: 50%;
    }
   
    .orders-header{
        display: none;
    }
    .order-data{
        flex-direction: column;
    }

    .order-data > div{
        display: flex;
        justify-content: space-between;
    }

    .order-data > div > span{
        display: inline-block;
    }
    
 }


 @media (max-width: 615px){
    .filter-form form{
        flex-direction: column;
    }

    .filter-form{
        width: 100%;
    }

    .filter-form form .select{
        margin-bottom: 10px;
    }
    
    .filter-form form .search-button{
        width: 100%;
        padding:10px 0;
    }
    .catalog-list .product{
        width: 99%;
    }
    .catalog-list .product:nth-child(even){
        margin-left: unset;
    }
 }


 @media (max-width:595px){
    .basket-actions{
        flex-direction: column;
        margin-top: 10px;
    }
    .basket-actions > div{
        margin-top: 10px;
        width: 100%;
    }
    .remove-btn{
        margin-left: unset;
        box-sizing: border-box;
    }
    .basket-actions > div:nth-child(3){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .basket-actions .discount{
        margin-top: unset;
    }
 }


@media (max-width: 560px){
    .filter-tabs-left-side.filter-sides ul{
        flex-direction: column;
    }
    .filter-tabs-left-side.filter-sides ul li{
        margin:5px 20px !important;
    }
    .filter-sides ul li{
        margin:0 !important;
        border-radius: 0;
    }
    .login{
        height: 33px;
        font-size: 11px;
    }

    header > img{
        height: 33px;
    }

    .basket{
        height: 33px;
    }
}

@media (max-width:470px){
    .basket-actions > div:nth-child(3){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}


@media (max-width:430px){
    header{
        flex-direction: column;
        padding:10px 0;
    }
    .basket-product{
        flex-direction: column;
    }

    .basket-product .product-image{
        display: flex;
        justify-content: center;
    }

    .basket-product img{
        max-width: unset;
        margin-bottom: 20px;
    }
}


@media (max-width:400px){
    .productslider img.slick-slide{
        height: 250px !important;
    }
}

@media(max-width:370px){
    .form input{
        min-width: unset;
        max-width: 90%;
    }

    .form a{
        min-width: unset;
        width: 90%;
    }
}


@media (max-width:340px){
    .product .product-inner .img-container img{
        max-height: 160px;
    }
    .product .product-inner > div:nth-child(2){
        flex:4
    }
}